{% include blocks-styles.liquid %}

{% assign quote_empty = block.settings.quote | is_null_or_empty %}
{% assign cite_empty = block.settings.cite | is_null_or_empty %}

<div id="{{block.id}}" class="content-block content-block-quote {{ class | strip }}">
    <div class="container">
        {% include block-header.liquid %}

        <div class="block-container {{ container_class | strip }}">
            <blockquote>
                {% if quote_empty == false %}
                    <p>{{ block.settings.quote }}</p>

                    {% unless cite_empty %}
                        <cite>{{ block.settings.cite }}</cite>
                    {% endunless %}
                {% else %}
                    <p>{{ "blocks.quote.empty" | t }}</p>
                    <cite>John Smith</cite>
                {% endif %}
            </blockquote>
        </div>
    </div>
</div>