{% assign link_count = links.footer-menu | size %}

<footer class="footer">
    <div class="container row">
        <div class="span4">
            {% if modules contains "display_logos" %}
                <div class="footer-branding">
                    {% if settings.logo_display == "image" and store.logo %}
                        <a href="{{ store.url }}">
                            {{ store.logo | img_tag:store.display_name }}
                        </a>
                    {% else %}
                        <a href="{{ store.url }}">
                            <span class="text-logo">{{ store.display_name }}</span>
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            {% editable_region footer true %}
            {% endeditable_region %}

            <div class="copyright">{{ store.display_name }} &copy; {{ "%Y" | date_now }} {% if modules contains "powered_by" %} &middot; {{ powered_by_link }}{% endif %}</div>
        </div>

        <div class="span5 vaja-footer">
          {% include _vaja-footer.liquid %}
        </div>

        {% if link_count > 0 %}
            <div class="span4 footer-nav">
                <nav>
                    <ul class="list-unstyled">
                        {% for link in links.footer-menu %}
                            <li class="{% if link.is_active %} active {% endif %}">
                                <a href="{{ link.url }}"{% if link.target %} target="{{ link.target }}"{% endif %}>{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endif %}

        {% if modules contains "payment_logos" %}
            <div class="span3">
                <p class="heading">{{ "products.payment.we_accept" | t }}</p>
                {% include payment-logos.liquid %}
            </div>
        {% endif %}
    </div>
</footer>