{% if store.social_links.facebook %}
    <li>
        <a href="{{ store.social_links.facebook }}" target="_blank" class="tooltip">
            <svg role="img" class="icon icon-social" title="Facebook">
                <use xlink:href="#theme-icon-round-facebook"></use>
            </svg>
            <span class="tip">Facebook</span>
        </a>
    </li>
{% endif %}

{% if store.social_links.twitter %}
    <li>
        <a href="{{ store.social_links.twitter }}" target="_blank" class="tooltip">
            <svg role="img" class="icon icon-social" title="Twitter">
                <use xlink:href="#theme-icon-round-twitter"></use>
            </svg>
            <span class="tip">Twitter</span>
        </a>
    </li>
{% endif %}

{% if store.social_links.pinterest %}
    <li>
        <a href="{{ store.social_links.pinterest }}" target="_blank" class="tooltip">
            <svg role="img" class="icon icon-social" title="Pinterest">
                <use xlink:href="#theme-icon-round-pinterest"></use>
            </svg>
            <span class="tip">Pinterest</span>
        </a>
    </li>
{% endif %}

{% if store.social_links.google_plus %}
    <li>
        <a href="{{ store.social_links.google_plus }}" target="_blank" class="tooltip">
            <svg role="img" class="icon icon-social" title="Google+">
            <use xlink:href="#theme-icon-round-google-plus"></use>
            </svg>
            <span class="tip">Google+</span>
        </a>
    </li>
{% endif %}

{% if store.social_links.youtube %}
    <li>
        <a href="{{ store.social_links.youtube }}" target="_blank" class="tooltip">
            <svg role="img" class="icon icon-social" title="YouTube">
                <use xlink:href="#theme-icon-round-youtube"></use>
            </svg>
            <span class="tip">YouTube</span>
        </a>
    </li>
{% endif %}
{% if store.social_links.vimeo %}
    <li>
        <a href="{{ store.social_links.vimeo }}" target="_blank" class="tooltip">
            <svg role="img" class="icon icon-social" title="Vimeo">
                <use xlink:href="#theme-icon-round-vimeo"></use>
            </svg>
            <span class="tip">Vimeo</span>
        </a>
    </li>
{% endif %}

{% if store.social_links.dribbble %}
    <li>
        <a href="{{ store.social_links.dribbble }}" target="_blank" class="tooltip">
            <svg role="img" class="icon icon-social" title="Dribbble">
                <use xlink:href="#theme-icon-round-dribbble"></use>
            </svg>
            <span class="tip">Dribbble</span>
        </a>
    </li>
{% endif %}

{% if store.social_links.instagram %}
    <li>
        <a href="{{ store.social_links.instagram }}" target="_blank" class="tooltip">
            <svg role="img" class="icon icon-social" title="Instagram">
            <use xlink:href="#theme-icon-round-instagram"></use>
            </svg>
            <span class="tip">Instagram</span>
        </a>
    </li>
{% endif %}

{% if store.social_links.flickr %}
    <li>
        <a href="{{ store.social_links.flickr }}" target="_blank" class="tooltip">
            <svg role="img" class="icon icon-social" title="Flickr">
                <use xlink:href="#theme-icon-round-flickr"></use>
            </svg>
            <span class="tip">Flickr</span>
        </a>
    </li>
{% endif %}

{% if store.social_links.tumblr %}
    <li>
        <a href="{{ store.social_links.tumblr }}" target="_blank" class="tooltip">
            <svg role="img" class="icon icon-social" title="Tumblr">
                <use xlink:href="#theme-icon-round-tumblr"></use>
            </svg>
            <span class="tip">Tumblr</span>
        </a>
    </li>
{% endif %}

{% if store.social_links.soundcloud %}
    <li>
        <a href="{{ store.social_links.soundcloud }}" target="_blank" class="tooltip">
            <svg role="img" class="icon icon-social" title="SoundCloud">
                <use xlink:href="#theme-icon-round-soundcloud"></use>
            </svg>
            <span class="tip">SoundCloud</span>
        </a>
    </li>
{% endif %}